<%# locals: (id:, labels:, datasets:, stacked: false, horizontal: false, height: 350, colors: [], **options) -%>
<%
  config = {
    labels: labels,
    datasets: datasets.map { |ds| { name: ds[:name], data: ds[:data] } },
    stacked: stacked,
    horizontal: horizontal,
    options: options.except(:class, :title, :subtitle)
  }
  config[:yFormatter] = options[:y_formatter] if options[:y_formatter]
%>
<% if options[:title] || options[:subtitle] %>
  <div class="mb-2">
    <% if options[:title] %>
      <h3 class="text-sm font-semibold text-neutral-900 dark:text-white"><%= options[:title] %></h3>
    <% end %>
    <% if options[:subtitle] %>
      <p class="text-xs text-neutral-500 dark:text-neutral-400"><%= options[:subtitle] %></p>
    <% end %>
  </div>
<% end %>
<div id="<%= id %>"
     class="<%= options[:class] %>"
     data-controller="eden-ui--chart"
     data-eden-ui--chart-type-value="bar"
     data-eden-ui--chart-config-value="<%= config.to_json %>"
     data-eden-ui--chart-height-value="<%= height %>"
     data-eden-ui--chart-colors-value="<%= colors.to_json %>">
</div>
