<%
  id ||= "carousel"
  slides ||= []
  indicators = true unless local_assigns.key?(:indicators)
  controls = true unless local_assigns.key?(:controls)
  autoplay = false unless local_assigns.key?(:autoplay)
  interval ||= 5000
  html_options ||= {}
  content ||= nil
%>

<div id="<%= id %>" data-controller="eden-carousel" data-eden-carousel-autoplay-value="<%= autoplay %>" data-eden-carousel-interval-value="<%= interval %>" class="relative w-full" <%= tag.attributes(html_options) %>>
  <div data-eden-carousel-target="wrapper" class="relative h-56 overflow-hidden rounded-lg md:h-96">
    <% if slides.any? %>
      <% slides.each_with_index do |slide, i| %>
        <div data-eden-carousel-target="slide" class="<%= i == 0 ? '' : 'hidden' %> duration-700 ease-in-out">
          <img src="<%= slide[:src] %>" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="<%= slide[:alt] || "" %>">
        </div>
      <% end %>
    <% else %>
      <%= content %>
    <% end %>
  </div>

  <% if indicators && slides.any? %>
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      <% slides.each_with_index do |_, i| %>
        <button type="button" data-action="eden-carousel#goTo" data-eden-carousel-index-param="<%= i %>" class="w-3 h-3 rounded-full <%= i == 0 ? "bg-white" : "bg-white/50 hover:bg-white" %>" aria-label="Slide <%= i + 1 %>"></button>
      <% end %>
    </div>
  <% end %>

  <% if controls %>
    <button type="button" data-action="eden-carousel#prev" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none">
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" fill="none" viewBox="0 0 6 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/></svg>
      </span>
    </button>
    <button type="button" data-action="eden-carousel#next" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none">
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" fill="none" viewBox="0 0 6 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/></svg>
      </span>
    </button>
  <% end %>
</div>
