<%
  href ||= "#"
  icon ||= nil
  disabled ||= false
  method ||= nil
  html_options ||= {}
  content ||= nil

  classes = if disabled
    "block px-4 py-2 text-zinc-400 cursor-not-allowed dark:text-zinc-500"
  else
    "block px-4 py-2 hover:bg-zinc-100 dark:hover:bg-zinc-600 dark:hover:text-white"
  end
  classes = [classes, html_options.delete(:class)].compact_blank.join(" ")
%>

<li>
  <% if disabled %>
    <span class="<%= classes %>"><%= content %></span>
  <% else %>
    <a href="<%= href %>" class="<%= classes %>" <% if method %>data-turbo-method="<%= method %>"<% end %> <%= tag.attributes(html_options) %>><%= content %></a>
  <% end %>
</li>
