<%
  type ||= :text
  name ||= nil
  id ||= name
  value ||= nil
  placeholder ||= nil
  size ||= :md
  disabled ||= false
  readonly ||= false
  required ||= false
  error ||= nil
  icon_left ||= nil
  icon_right ||= nil
  html_options ||= {}
  content ||= nil

  size_classes = case size.to_sym
  when :sm then "p-2 text-xs"
  when :lg then "p-4 text-base"
  else "p-2.5 text-sm"
  end

  state_classes = if error
    "bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
  else
    "bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  end

  icon_padding = icon_left ? "ps-10" : ""

  classes = ["border rounded-lg block w-full", size_classes, state_classes, icon_padding, html_options.delete(:class)].compact_blank.join(" ")
%>

<% if icon_left || icon_right %>
  <div class="relative">
    <% if icon_left %>
      <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"><%= icon_left.html_safe %></svg>
      </div>
    <% end %>
    <input type="<%= type %>" <% if name %>name="<%= name %>"<% end %> <% if id %>id="<%= id %>"<% end %> <% if value %>value="<%= value %>"<% end %> <% if placeholder %>placeholder="<%= placeholder %>"<% end %> class="<%= classes %>" <%= "disabled" if disabled %> <%= "readonly" if readonly %> <%= "required" if required %> <%= tag.attributes(html_options) %>>
    <% if icon_right %>
      <div class="absolute inset-y-0 end-0 flex items-center pe-3.5 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"><%= icon_right.html_safe %></svg>
      </div>
    <% end %>
  </div>
<% else %>
  <input type="<%= type %>" <% if name %>name="<%= name %>"<% end %> <% if id %>id="<%= id %>"<% end %> <% if value %>value="<%= value %>"<% end %> <% if placeholder %>placeholder="<%= placeholder %>"<% end %> class="<%= classes %>" <%= "disabled" if disabled %> <%= "readonly" if readonly %> <%= "required" if required %> <%= tag.attributes(html_options) %>>
<% end %>
