<%
  description ||= nil
  quantity ||= 1
  unit_price ||= nil
  total ||= nil
  html_options ||= {}

  classes = [
    "bg-white border-b dark:bg-zinc-800 dark:border-zinc-700",
    html_options.delete(:class)
  ].compact_blank.join(" ")
%>

<tr class="<%= classes %>" <%= tag.attributes(html_options) %>>
  <td class="px-6 py-4 font-medium text-zinc-900 dark:text-white"><%= description %></td>
  <td class="px-6 py-4 text-center"><%= quantity %></td>
  <td class="px-6 py-4 text-right"><%= unit_price %></td>
  <td class="px-6 py-4 text-right font-semibold text-zinc-900 dark:text-white"><%= total %></td>
</tr>
