<%
  name ||= "phone"
  id ||= name
  value ||= nil
  placeholder ||= "123-456-7890"
  country_code ||= "+1"
  disabled ||= false
  required ||= false
  html_options ||= {}
  content ||= nil
%>

<div class="flex" <%= tag.attributes(html_options) %>>
  <span class="inline-flex items-center px-3 text-sm text-zinc-900 bg-zinc-200 border border-e-0 border-zinc-300 rounded-s-md dark:bg-zinc-600 dark:text-zinc-400 dark:border-zinc-600">
    <%= country_code %>
  </span>
  <input type="tel" name="<%= name %>" id="<%= id %>" class="rounded-none rounded-e-lg bg-zinc-50 border border-zinc-300 text-zinc-900 focus:ring-primary-500 focus:border-primary-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-zinc-700 dark:border-zinc-600 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="<%= placeholder %>" <% if value %>value="<%= value %>"<% end %> <%= "disabled" if disabled %> <%= "required" if required %>>
</div>
