<%
  title ||= nil
  body ||= nil
  placement ||= :top
  id ||= "popover"
  html_options ||= {}
  content ||= nil
%>

<div data-controller="eden-popover" data-eden-popover-placement-value="<%= placement %>" class="relative inline-block" <%= tag.attributes(html_options) %>>
  <div data-action="mouseenter->eden-popover#show mouseleave->eden-popover#hide">
    <%= content %>
  </div>
  <div data-eden-popover-target="popover" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-zinc-500 transition-opacity duration-300 bg-white border border-zinc-200 rounded-lg shadow-sm opacity-0 dark:text-zinc-400 dark:border-zinc-600 dark:bg-zinc-800">
    <% if title %>
      <div class="px-3 py-2 bg-zinc-100 border-b border-zinc-200 rounded-t-lg dark:border-zinc-600 dark:bg-zinc-700">
        <h3 class="font-semibold text-zinc-900 dark:text-white"><%= title %></h3>
      </div>
    <% end %>
    <div class="px-3 py-2">
      <p><%= body %></p>
    </div>
    <div data-popper-arrow></div>
  </div>
</div>
