<%
  name ||= nil
  id ||= nil
  label ||= nil
  value ||= nil
  checked ||= false
  disabled ||= false
  description ||= nil
  html_options ||= {}
  content ||= nil

  input_classes = "w-4 h-4 text-primary-600 bg-zinc-100 border-zinc-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-zinc-800 focus:ring-2 dark:bg-zinc-700 dark:border-zinc-600"
%>

<div class="flex items-start">
  <div class="flex items-center h-5">
    <input type="radio" <% if name %>name="<%= name %>"<% end %> <% if id %>id="<%= id %>"<% end %> <% if value %>value="<%= value %>"<% end %> class="<%= [input_classes, html_options.delete(:class)].compact_blank.join(" ") %>" <%= "checked" if checked %> <%= "disabled" if disabled %> <%= tag.attributes(html_options) %>>
  </div>
  <% if label || description %>
    <div class="ms-2 text-sm">
      <% if label %>
        <label for="<%= id %>" class="font-medium text-zinc-900 dark:text-zinc-300"><%= label %></label>
      <% end %>
      <% if description %>
        <p class="text-xs font-normal text-zinc-500 dark:text-zinc-300"><%= description %></p>
      <% end %>
    </div>
  <% end %>
</div>
