<%
  name ||= nil
  id ||= name
  min ||= 0
  max ||= 100
  step ||= 1
  value ||= nil
  size ||= :md
  disabled ||= false
  label ||= nil
  html_options ||= {}
  content ||= nil

  size_classes = case size.to_sym
  when :sm then "h-1 range-sm"
  when :lg then "h-3 range-lg"
  else "h-2"
  end

  classes = ["w-full bg-zinc-200 rounded-lg appearance-none cursor-pointer dark:bg-zinc-700 #{size_classes}", html_options.delete(:class)].compact_blank.join(" ")
%>

<% if label %>
  <label for="<%= id %>" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white"><%= label %></label>
<% end %>
<input type="range" <% if name %>name="<%= name %>"<% end %> <% if id %>id="<%= id %>"<% end %> min="<%= min %>" max="<%= max %>" step="<%= step %>" <% if value %>value="<%= value %>"<% end %> class="<%= classes %>" <%= "disabled" if disabled %> <%= tag.attributes(html_options) %>>
