<%
  title ||= nil
  icon ||= nil
  open ||= false
  id ||= "sidebar-group-#{title&.parameterize}"
  html_options ||= {}
  content ||= nil
%>

<li>
  <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="<%= id %>" data-collapse-toggle="<%= id %>">
    <% if icon %>
      <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20"><%= icon.html_safe if icon.is_a?(String) && icon.include?("<") %></svg>
    <% end %>
    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"><%= title %></span>
    <svg class="w-3 h-3" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/></svg>
  </button>
  <ul id="<%= id %>" class="<%= open ? '' : 'hidden' %> py-2 space-y-2">
    <%= content %>
  </ul>
</li>
