<%
  label ||= nil
  active ||= false
  disabled ||= false
  variant ||= :underline
  target ||= nil
  html_options ||= {}
  content ||= nil

  display_text = label || content

  tab_classes = case variant.to_sym
  when :pill
    if active
      "inline-block px-4 py-3 text-white bg-primary-600 rounded-lg active"
    elsif disabled
      "inline-block px-4 py-3 text-zinc-400 cursor-not-allowed dark:text-zinc-500 rounded-lg"
    else
      "inline-block px-4 py-3 rounded-lg hover:text-zinc-900 hover:bg-zinc-100 dark:hover:bg-zinc-800 dark:hover:text-white"
    end
  when :full_width
    active_fw = active ? "text-zinc-900 bg-zinc-100 dark:bg-zinc-700 dark:text-white" : "bg-white hover:text-zinc-700 hover:bg-zinc-50 dark:hover:text-white dark:bg-zinc-800 dark:hover:bg-zinc-700"
    "inline-block w-full p-4 #{active_fw} focus:ring-4 focus:ring-primary-300 focus:outline-none dark:focus:ring-primary-800"
  else
    if active
      "inline-block p-4 text-primary-600 border-b-2 border-primary-600 rounded-t-lg active dark:text-primary-500 dark:border-primary-500"
    elsif disabled
      "inline-block p-4 text-zinc-400 rounded-t-lg cursor-not-allowed dark:text-zinc-500"
    else
      "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-zinc-600 hover:border-zinc-300 dark:hover:text-zinc-300"
    end
  end
%>

<li role="presentation">
  <button class="<%= [tab_classes, html_options.delete(:class)].compact_blank.join(" ") %>" role="tab" type="button" aria-selected="<%= active %>" <% if target %>data-eden-tab-target="tab" data-action="eden-tab#select"<% end %> <%= "disabled" if disabled %> <%= tag.attributes(html_options) %>><%= display_text %></button>
</li>
